/*
 * This file lives in /opt/vivaldi/resources/vivaldi/style/custom.css
 *
 * It must be @imported in common.css. Vivaldi updates overwrite this file; to
 * reenable customizations run:
 *
 * sudo sed -i '1s/^/@import "custom.css";/' /opt/vivaldi/resources/vivaldi/style/common.css
 *
 * Enable devtools on the Vivaldi UI for testing/debugging:
 *
 * vivaldi-stable --flag-switches-begin --debug-packed-apps --silent-debugger-extension-api --flag-switches-end
 */

div#browser:not(.fullscreen) div#header {
  margin-bottom: -28px !important;
  pointer-events: none !important;
}

div#browser:not(.tabs-top) div#header {
  background-color: #3c3445 !important;
}

div#header button.vivaldi {
  z-index: 5 !important
}

div.toolbar-addressbar {
  padding-left: 34px !important;
}

div#pagetitle {
  display: none !important;
}

div.window-buttongroup {
  display: none !important;
}

div.UrlBar-AddressField {
  background-color: #3c3445 !important;
  border: none !important;
}

#tabs-container.left {
  border-right-width: 0px !important;
}

.svg-tab-stack .inner {
  stroke: none !important;
}

#tabs-subcontainer {
  border: none !important;
  background-color: #9c6b80 !important;
}

#tabs-subcontainer.left {
  box-shadow: none !important;
}

.color-behind-tabs-off .tab-position .tab .stack-counter {
  background-color: #9c6b80 !important;
}

.tab.active {
  background-color: #f5eff3 !important;
  color: #3c3445 !important;
}

.color-behind-tabs-off .tab-indicator.active {
  background-color: #3c3445 !important;
}

.color-behind-tabs-off .tab-indicator {
  background-color: #f5eff3 !important;
}

#panels-container {
  border: none !important;
}

#switch {
  background-color: #3c3445 !important;
  box-shadow: none !important;
}

div.toolbar.toolbar-mainbar.toolbar-large:after {
  background-color: #3c3445 !important;
}

.toolbar-statusbar {
  box-shadow: none !important;
}

.color-behind-tabs-off.address-top .toolbar-mainbar {
  background-color: #3c3445 !important;
}

.color-behind-tabs-off.address-top .toolbar-mainbar:after {
  background-color: #3c3445 !important;
}

div.window-buttongroup button {
  background-color: #3c3445 !important;
}

nav.startpage-navigation {
  background-color: #3c3445 !important;
}

div.startpage {
  background-color: #3c3445 !important;
}

button.button-startpage:after {
  background-image: none !important;
}
